.ide-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: var(--app-background);
}

.ide-filler-container {
  position: relative;
  user-select: auto;
  height: auto;
  max-width: 100%;
  min-width: 0%;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 1;
  background-color: var(--app-background);
  z-index: 1;
}

.ide-column-filler-container {
  position: relative;
  user-select: auto;
  width: auto;
  max-height: 100%;
  min-height: 0%;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 1;
  background-color: var(--app-background);
  z-index: 1;
}

.ide-viewers-container {
  position: relative;
  user-select: auto;
  height: auto;
  max-width: 100%;
  min-width: 0%;
  box-sizing: border-box;
  flex-shrink: 0;
  flex: 1 1 0%;
}

.ide-viewer-buttons {
  align-items: center;
  display: flex;
  height: 100%;
}

.ide-viewer-toggle-button {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 100%;
  background-color: var(--control-bar);
  border: 0;
  padding: 0 0 0 0;
  align-content: center;
  flex-wrap: wrap;

  & svg {
    fill: white;
    opacity: 30%;
  }
}

.active {
  background-color: green;

  & svg {
    opacity: 100%;
  }
}
