.ide-viewer-toggle-button {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 100%;
  background-color: var(--control-bar);
  border: 0;
  padding: 0 0 0 0;
  align-content: center;
  flex-wrap: wrap;

  & svg {
    fill: white;
    opacity: 30%;
  }
}

.active {
  background-color: green;

  & svg {
    opacity: 100%;
  }
}
